.colors-grid {
    display: flex;
}

.color {
    height: 50px;
    width: 25 px;
    border: 1px solid black;
}

.color-size-grid {
    display: grid;
    margin-top: 50px;
}

.color-size-title {
    background-color: gray;
    width: 10%;
}

.selected {
    background-color: gray;
}

.print-grid {
    display: flex;
}

.grid {
    display: flex;
}

.print-method-section {
    width: 90%;
    border: 1px solid black;
}

.printLocation-container {
    display: flex;
}

.printLocation {
    padding: 10px;
    margin: 0 0 0 10px;
    border: 1px solid black
}

.info {
    position: absolute;
    right: 1350px;
    background-color: gray;
    border: 1px solid black;
    color: aliceblue;
}
